body {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 100vh;

    background-color: #121212;
    color: whitesmoke;

    font-family: Arial, Helvetica, sans-serif;
}

.form_container {
    background: #1e1e1e;

    padding: 20px;
    width: 300px;

    border-radius: 10px;

    box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
}

input {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    
    border: none;
    border-radius: 5px;
}

button {
    width: 100%;
    padding: 10px;

    background-color: #007bff;
    border: none;
    color: white;

    font-size: 16px;
    margin-top: 10px;
    border-radius: 5px;

    cursor: pointer;
}

button :hover {
    background-color: #0056b3;
}